# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isnull().sum()/len(salaries)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [21]:
# Your code here:   #bar asas balaye mifahmi k null value 
salaries["Hourly Rate"].value_counts(dropna=False)

NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: Hourly Rate, Length: 179, dtype: int64

In [ ]:
salaries["Salary or Hourly"].value_counts(dropna=False)

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [20]:
# Your code here:  #better use the pivot table
department_counts = salaries.groupby('Department')['Name'].count()
display(department_counts)
salaries['Department'].value_counts()

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
Name: Name, dtype: int64

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
#H0=the hourly wage of hourly workers=30$ per hour
#H1=the hourly wage of hourly workers!=30$ per hour

#filter out only hourly workers
hourly_workers=salaries[salaries["Salary or Hourly"]=='Hourly']   #mean of the this column

stat, pval = ttest_1samp(hourly_workers["Hourly Rate"], 30)

print('T-statistic: ', stat)
print('P-value: ', pval)   #determine to reject or accept, here we conclude that most likely H! in accepet.

#A small p-value (typically less than 0.05) suggests that the data you collected is quite unlikely under the null hypothesis. In other words, it provides strong evidence against the null hypothesis.
#The test statistic of 31.211 indicates that the difference between the "Hourly Rate" mean and the null hypothesis population mean of 30.

T-statistic:  31.211500329216044
P-value:  3.825475847673794e-202

In [17]:
hourly_workers.mean()  #see here mean of this column is more than 30

34.58644971862002

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [8]:
#H0= salaries of year<=86000$   
#H1= salaries of year>86000$

police_salaries=salaries[(salaries["Department"]=="POLICE") & (salaries["Salary or Hourly"]=="Salary")]
stat, pval = ttest_1samp(police_salaries['Annual Salary'],86000)
print('stat fo the one-tailed test is',stat)
print('pvalue for the one-tailed test is ', pval/2)

#A small p-value (typically less than 0.05) suggests that the data you collected is quite unlikely under the null hypothesis. In other words, it provides strong evidence against the null hypothesis.
#stat is positive which means that the sample mean is greater than hypothesis mean of 86k
#Ho will be rejected!

stat fo the one-tailed test is 18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

In [22]:
police_salaries.mean()

C:\Users\Parinaz\AppData\Local\Temp\ipykernel_27844\2438658937.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  police_salaries.mean()

Typical Hours             NaN
Annual Salary    88834.118924
Hourly Rate               NaN
dtype: float64

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
# Your code here:

data_crosstab = pd.crosstab(salaries["Department"], salaries["Salary or Hourly"], margins = False)  # Group by
hourly_counts=data_crosstab["Hourly"].idxmax()
hourly_counts

print(f"The department is :{hourly_counts}")

The department is :STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

#H0=worker's hourly wage>=35$   # oni k megeh ro bayad barax koin 
#H1=worker's hourly wage<35$

department_hourly_workers=salaries[(salaries["Department"]== hourly_counts) & (salaries["Salary or Hourly"]=='Hourly')]
stat, pval = ttest_1samp(department_hourly_workers["Hourly Rate"],35)
print('stat fo the one-tailed test is',stat)
print('pvalue for the one-tailed test is ', pval/2)

#A small p-value (typically less than 0.05) suggests that the data you collected is quite unlikely under the null hypothesis. In other words, it provides strong evidence against the null hypothesis.
#stat is positive which means that the sample mean is greater than hypothesis mean of 35
#Ho will be accepted!

stat fo the one-tailed test is 4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:
import scipy.stats
hourly_workers=salaries[salaries["Salary or Hourly"]=='Hourly']['Hourly Rate']

confidence_level = 0.95
degrees_freedom = len(hourly_workers) - 1  
sample_mean = np.mean(hourly_workers)

sample_standard_error = scipy.stats.sem(hourly_workers) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(np.std(hourly_workers)/np.sqrt(degrees_freedom))
print( 'confidence interval is ', confidence_interval, '.' )

0.14694742867989846
confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [15]:
# Your code here:   
salaried_employeed_the_police= salaries[(salaries["Salary or Hourly"]=='Salary') & (salaries["Department"]=="POLICE")]['Annual Salary']

confidence_level = 0.95
degrees_freedom = len(salaried_employeed_the_police) - 1  
sample_mean = np.mean(salaried_employeed_the_police)

sample_standard_error = scipy.stats.sem(salaried_employeed_the_police) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(np.std(salaried_employeed_the_police)/np.sqrt(degrees_freedom))
print( 'confidence interval is ', confidence_interval, '.' )

153.05095852634435
confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: